
.tick{
	color:#000;	
}

.domain{
	  fill: none; 
	  stroke: black; 
  	  stroke-width: 1; 
}

.y-axis, .y-axis-right{
	text{
		font-size:11px;
	}
}

.year_label text{
	font-size:14px;
	fill:#666;

}

#controls h4{
	padding-bottom:8px;
	text-shadow: 0 1px 0 #fff;
	color:#333;
	font-weight:normal;
	text-transform: uppercase;
	font-size:11px;
}


p.explanation{
	font-size:14px;
	line-height:24px;
}

p.byline{
	font-size:12px;
	text-transform: uppercase;
}

$ellis: #8D2036;
$nofault: orange;
$forcause: rgba(50,50,50,1);


.ellis{
	background-color:$ellis;
	fill:$ellis;
	fill-opacity:0.85;
}

.nofault{
	background-color:$nofault;
	fill:$nofault;
	fill-opacity:0.85;
}

.forcause{
	background-color:$forcause;
	fill:$forcause;
	fill-opacity:0.85;
}




.units-series label{
	padding:3px;
	padding-left:24px;
	color:#eee;
	text-shadow:#000 0 1px 1px;
	border-radius: 4px;
	border:rgba(0,0,0,0.4) 1px solid;
	font-size:13px;
	font-weight:normal;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
	box-shadow:inset 0px 1px 0px rgba(255,255,255,.3);
}

.units-series label input{
	position:relative;
	//left: 20px;
}


#sources{
	font-size:11px;
}

#tooltip {
    border: #ccc 1px solid;
    position: fixed;
    visibility: hidden;
    border-radius: 4px;
    padding: 8px;
    background: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    z-index: 10;
    font-size: 11px;

    span.big-num{
    	display:block;
    	font-size:24px;
    	margin-top:8px;
    	margin-bottom:8px;

    	small{
    		font-size:14px;
    		padding-left: 0.4em;
    	}
    }
}

