
.tick{
	color:#000;	
}

.domain{
	  fill: none; 
	  stroke: black; 
  	  stroke-width: 1; 
}

.y-axis text{
	font-size:11px;
}

.x-axis text{
	font-size:16px;
	fill:#aaa;

}

$altered: darkgray;
$completed: #11644D;
$authorized: #A0B046;
$withdrawn: #8D2036;
$demolished: #CE0A31;


.units-series label{
	padding:3px;
	padding-left:24px;
	color:#eee;
	text-shadow:#000 0 1px 1px;
	border-radius: 4px;
	border:rgba(0,0,0,0.4) 1px solid;
	font-size:13px;
	font-weight:normal;
	box-shadow:inset 0px 1px 0px rgba(255,255,255,.3);
}

.units-series label input{
	position:relative;
	//left: 20px;
}
.altered{
	background-color:$altered;
	fill:$altered;
}

.completed{
	background-color:$completed;
	fill:$completed;
}

.authorized{
	background-color:$authorized;
	fill:$authorized;
}

.withdrawn{
	background-color:$withdrawn;
	fill:$withdrawn;
}

.demolished{
	background-color:$demolished;
	fill:$demolished;
}